body{
    margin: 0;
    font-family: monospace;
    font-size: 4vh;
    background-color: grey;
    background-image: url(/img/arthur-edelmans-WVzVBhpBHPU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:brown;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    border: 4px solid rgba(126, 19, 19, 0.4);
    border-radius: 25px;
    box-shadow: 0 0 15px black;
}

h1 {
    margin: 5vw;
}